::-webkit-scrollbar {
    width: 1px;
    height: 1px;
  }
  
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  
   div {
    box-sizing: border-box;
  } 
  
  .horizontal-scroll-wrapper {
    text-align: center;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: calc(500px + 1px);
    /* width: calc(50% + 1%);*/
    max-height: 100%; 
    margin: 0;
    padding-top: 1px;
    background: #abc;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(-250px);
    transform-origin: right top;
  }
  .horizontal-scroll-wrapper > div {
    display: block;
    padding: 5px;
    background: #cab;
    transform: rotate(90deg);
    transform-origin: right top;
  }
  
  .squares {
    padding: 0 0 0 0;
  }
  .squares > div {
    width: 500px;
    height: 500px;
    margin: 100px 0;
  }